.clock-range-picker {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.summary {
  margin-bottom: 10px;
  font-weight: bold;
  display: flex;
  gap: 20px;
}

.hint {
  margin-top: 8px;
  font-size: 14px;
  color: #666;
}
